table,tr,td {
    margin: 15px;
    color: azure;
    width: 30%;
    border: 1px ridge rgb(34, 22, 12);
    background-color: rgb(53, 77, 122);
    text-align: center;
    padding: 3px;
}
td.stripe {
    background-color: rgb(77, 95, 128);
}